#map {
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;    
}

#menu {
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

